<footer class="footer items-center p-4 bg-neutral text-neutral-content">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="text-lg font-bold">
            itf-vectormapdata
        </div>
        <div class="text-center md:text-right">
            <a href="https://github.com/until-tsukuba/itf-vectormapdata" class="link link-hover block">ソースコード</a>
            <p>
                Powered by <a href="https://until.tsukuba.dev" class="link link-hover">UNTIL.</a> 2025-
            </p>
        </div>
    </div>
</footer>
